.alpako-calendar
  nav
    .prev.ta-center &#8249;
    .month.ta-center Январь
    .next.ta-center &#8250;
  .content
    .row
      .col
        .item.bordered.selected-one 1
      .col
        .item 2
      .col
        .item 3
      .col
        .item 4
      .col
        .item 5
      .col
        .item 6
      .col
        .item 7
    .row
      .col
        .item 8
      .col
        .item 9
      .col
        .item 10
      .col
        .item 11
      .col
        .item 12
      .col
        .item 13
      .col
        .item 14
    .row
      .col
        .item 15
      .col
        .item 16
      .col
        .item 17
      .col
        .item 18
      .col
        .item 19
      .col
        .item 20
      .col
        .item 21
    .row
      .col
        .item 22
      .col
        .item 23
      .col
        .item 24
      .col
        .item 25
      .col
        .item.selected.bordered.selected-first
          .bg-selected.selected-one 26
      .col.selected
        .item 27
      .col.selected
        .item 28
    .row
      .col.selected
        .item 29
      .col
        .item.selected.bordered.selected-last
          .bg-selected.selected-one 30
      .col
        .item.inactive 1
      .col
        .item.inactive 2
      .col
        .item.inactive 3
      .col
        .item.inactive 4
      .col
        .item.inactive 5
