.calendar
  .calendar__nav
    button.calendar__prev
      span.arrow-left 
    .calendar__month Январь
    button.calendar__next
      span.arrow-right
  .calendar__body
    button.calendar__day._active._start._end 1
    button.calendar__day 2
    button.calendar__day 3
    button.calendar__day 4
    button.calendar__day 5
    button.calendar__day 6
    button.calendar__day 7
    button.calendar__day 8
    button.calendar__day 9
    button.calendar__day 10
    button.calendar__day 11
    button.calendar__day 12
    button.calendar__day 13
    button.calendar__day 14
    button.calendar__day 15
    button.calendar__day 16
    button.calendar__day 17
    button.calendar__day 18
    button.calendar__day 19
    button.calendar__day 20
    button.calendar__day 21
    button.calendar__day 22
    button.calendar__day 23
    button.calendar__day 24
    button.calendar__day 25
    button.calendar__day._active._start 26
    button.calendar__day._active 27
    button.calendar__day._active 28
    button.calendar__day._active 29
    button.calendar__day._active._end 30
    button.calendar__day._inactive 1
    button.calendar__day._inactive 2
    button.calendar__day._inactive 3
    button.calendar__day._inactive 4
    button.calendar__day._inactive 5