doctype html
html
  head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    title Альпако календарь

    link(rel='stylesheet' href='./alpako.css')
  body
    div(style='display: flex; flex-wrap: nowrap; justify-content: space-around; align-items: center;')
      div(style='width:240px;')
        h2 Width 240px
        include calendar.pug
      div(style='width:280px;')
        h2 Width 280px
        include calendar.pug
      div(style='width:320px;')
        h2 Width 320px
        include calendar.pug
      div(style='width:400px;')
        h2 Width 400px
        include calendar.pug