@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

.alpako-calendar {
    padding: 4px;

    position: relative;

    min-width: 240px;
    max-width: 320px;
    width: 100%;
    /* height: 284px; */

    background: rgba(19, 20, 23, 0.9);

    box-sizing: border-box;
    
    text-align: center;

    font: 12px/14px 'Roboto';
    font-weight: 500;
    color: white;

    border-radius: 6px;
}

.alpako-calendar::before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
    width: 100%;
    height: 100%;

    background: url('../images/bg.png') center no-repeat;
    background-size: cover;

    border-radius: 6px;
}

.alpako-calendar > nav {
    height: 44.67px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.alpako-calendar > nav > .prev,
.alpako-calendar > nav > .next {
    flex-grow: 1;
}

.alpako-calendar > nav > .month {
    flex-grow: 5;

    text-transform: uppercase;
}

.alpako-calendar > .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: stretch;

    line-height: 25px;
}

.alpako-calendar > .content > .row {
    margin: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
}

.alpako-calendar > .content > .row > .col {
    position: relative; 

    flex-grow: 1;
}

.alpako-calendar > .content > .row > .col::before {
    display: block; /* отображать элемент как блок */
    content: ""; /* содержимое псевдоэлемента */
    width: 100%; /* ширина элемента */
    padding-top: 100%; /* (1:1)*100% */
}

.alpako-calendar > .content > .row > .col > .item {
    display: block;
    position: absolute;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.alpako-calendar > .content > .row > .col > .item.inactive {
    opacity: 0.5;
}

.alpako-calendar > .content > .row > .col > .item:hover {
    cursor: pointer;
}

.alpako-calendar > .content > .row > .col > .item.selected-one {
    background: #425c6b;
    border: 2px solid #2D9CDB;
    border-radius: 50%;
}

.alpako-calendar > .content > .row > .col > .item.selected-mid {
    border: 2px solid #2D9CDB;
    background: #2D9CDB;
}

.alpako-calendar > .content > .row > .col > .item.selected-first {
    background: #2D9CDB;
    border: 2px solid #2D9CDB;
    border-radius: 50%;
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.alpako-calendar > .content > .row > .col > .item.selected-last {
    background: #2D9CDB;
    border: 2px solid #2D9CDB;
    border-radius: 50%;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.alpako-calendar > .content > .row > .col > .item.selected-first > .bg-selected,
.alpako-calendar > .content > .row > .col > .item.selected-last > .bg-selected {
    height: 100%;
    border-radius: 50%;
    background-color: #425c6b;
}

.alpako-calendar > .content > .row > .col > .item .num {
    display: flex;
    justify-content: center;
    align-items: center;
}